<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
    <label [tuiLabel]="'Nombre *'">
        <tui-input [formControlName]="'name'" tuiTextfieldSize="s">
            <input tuiTextfield type="text" placeholder="Ej: John Doe" />
        </tui-input>
        <span
            *ngIf="
                this.loginForm.controls['name'].errors &&
                this.loginForm.controls['name'].touched
            "
            style="color: red"
        >
            Nombre incorrecto
        </span>
    </label>
    <label [tuiLabel]="'Contraseña *'" style="margin-top: 8px">
        <tui-input-password [formControlName]="'password'" tuiTextfieldSize="s">
            <input placeholder="Make it secure!" tuiTextfield />
        </tui-input-password>
        <span
            *ngIf="
                this.loginForm.controls['password'].errors &&
                this.loginForm.controls['password'].touched
            "
            style="color: red"
        >
            Contraseña incorrecta
        </span>
    </label>
    <button style="margin-top: 8px" size="s" tuiButton type="submit">
        Enviar
    </button>
    <tui-notification
        *ngIf="!isUserValid"
        status="error"
        class="tui-space_vertical-4"
    >
        Nombre o contraseña incorrectos
    </tui-notification>
</form>
