.list-user-list-container {
    display: flex;
    flex-direction: column;
}

.list-header,
.list-item {
    display: flex;
    gap: 12px;
}

.avatar-header,
.avatar-item {
    width: 80px;
}

.name-header,
.name-item {
    flex: 1;
}

.list-header {
    background-color: #2f4858;
    color: white;
    font-weight: bold;
}
