.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 20px 0;

    .non-selected-image {
        height: 100px;
        object-fit: contain;

        &:hover {
            filter: drop-shadow(0 0 0.3rem #6a7dd1);
            transition: all 200ms ease-in-out;
        }
    }

    .preview-image {
        filter: drop-shadow(0 0 0.3rem #6a7dd1);
        transition: all 200ms ease-in-out;
    }
}

.selected-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .selected-image {
        object-fit: contain;
    }
}

.gallery-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
