<h1>Gallery component is working!</h1>
<div class="selected-image-container">
    <img
        class="selected-image"
        [src]="'../../../assets/img' + (currentImageId$ | async) + '.jpg'"
        height="{{ currentImageHeigth$ | async }}"
    />
</div>

<div class="image-gallery">
    <ng-container *ngFor="let image of images; trackBy: trackByFn">
        <img
            class="non-selected-image"
            src="../../../assets/{{ image.src }}.jpg"
            alt="{{ image.title }}"
            (click)="next(image.id)"
        />
    </ng-container>
</div>

<div class="gallery-actions">
    <button
        size="s"
        tuiButton
        [disabled]="(prevDisabled$ | async) ?? true"
        (click)="prev()"
    >
        Anterior
    </button>
    <button
        size="s"
        tuiButton
        [disabled]="(nextDisabled$ | async) ?? true"
        (click)="next()"
    >
        Siguiente
    </button>
    <button
        size="s"
        tuiButton
        [disabled]="(increaseDisabled$ | async) ?? true"
        (click)="increase()"
    >
        Aumentar
    </button>
    <button
        size="s"
        tuiButton
        [disabled]="(decreaseDisabled$ | async) ?? true"
        (click)="decrease()"
    >
        Disminuir
    </button>
    <button size="s" tuiButton>Play</button>
    <button size="s" tuiButton>Stop</button>
</div>
